
    <nav class="navbar">
        <ul>
            <li> <img src="assets/images/Food_Truck_Logo.jpg" alt="Food Truck Logo" class="logo"></li>
            <li><p class="brandname ">&nbsp; &nbsp; &nbsp; FTS</p></li>
            <li><a class="moveleft" href="#Home">Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a class="moveleft" href="#FoodTrucks">Food Trucks?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a class="moveleft" href="#OurTrucks">Our Trucks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a class="moveleft" href="#Locations">Locations</a></li>
          </ul>
        </nav>


        <section id="Home">
          <img src="assets/images/FOOD TRUCKS OF STILLWATER-1450 x 768.png" height="714px" withd="800px" alt="homepic">
        </section>


        <section id="FoodTrucks">
        <h1 class="centerheader">Food Trucks?</h1>
        <p class="lead">Food trucks serve up amazing food. 
          If you haven’t seen what these mobile kitchen trailers have to offer, 
          you are definitely missing out. Faster preparation, 
          Convenient location change, Great Prices, The Atmosphere, 
          and most of all, the Delicious food makes up a great community in our great city of Stillwater. </p>
        </section>



        <section id="OurTrucks">
<br>
<br>
<br>
<br>
          <h1 class="centerheader">Our Trucks</h1>

          <br>
          <br>
          <br>

          <div class="centerall">
          <a href="https://nilimasauthenticfood.com/"><img src="assets/images/nilimas.jpg" height="200px" width="400px" alt="Nilima's Authentic Food of India"></a>
          <p>Nilima's Authentic Food of India</p>
          <p>(405) 612-2877</p>
          <p>140 N Duck St, Stillwater, OK 74075</p>
          <p>Indian</p>
          <a href="https://nilimasauthenticfood.com/">Check them out here</a>
          <p>Monday-Friday: 11AM - 8PM Saturday - Sunday: Closed</p>
              
              <br>
              <br>
              <a href="https://www.tripadvisor.com/Restaurant_Review-g51667-d779222-Reviews-Cafe_Bella-Stillwater_Oklahoma.html"><img src="assets/images/Cafe Bella.jpg" height="200px" width="400px"
                alt="Cafe Bella"></a>
                <p>Cafe Bella</p>
                <p>(405) 780-7777</p>
                <p>516 S Duck St, Stillwater, OK 74074</p>
                <p>Mediterranean</p>
                <a href="https://www.tripadvisor.com/Restaurant_Review-g51667-d779222-Reviews-Cafe_Bella-Stillwater_Oklahoma.html">Check them out here</a>
                <p> Mon-Friday: 11:30am- 1:30pm, 5-7:30pm Sat & Sun Closed</p>
                    <br>
                    <br>

                    <a href="https://www.facebook.com/mobilekitchenstillwater/">
                      <img src="assets/images/spot on.jpg" height="200px" width="400px" alt="Spot On Mobile Kitchen">
                      </a>
                      <p>Spot On Mobile Kitchen</p>
                      <p>(405) 269-2379</p>
                      <p>227 N Duck St, Stillwater, OK 74075</p>
                      <p>American</p>
                      <a href="https://www.facebook.com/mobilekitchenstillwater/">Check them out here</a>
                      <p>Tuesday - Friday: 11AM - 6PM
                          Saturday - Monday: Closed
                          </p>

                          <br>
                          <br>

                          <a href="https://www.purdyq.com/menu.html">
                            <img src="assets/images/purdy-q.jpg" width="400px" height="200px" alt="Purdy-Q">
                            </a>
                            <p>Purdy-Q</p>
                            <p>(405) 614-0727</p>
                            <p>519 S Husband St, Stillwater, OK 74074</p>
                            <p>BBQ</p>
                            <a href="https://www.purdyq.com/menu.html">Check them out here</a>
                            <p>Call to find hours</p>
              <br>
              <div class="border"></div>
              <br>
          </div>
        </section>


        <section id='Locations'>
          <br>
          <br>
          <br>
            <h1 class="centerheader">Locations</h1>
        </section>


    <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom] = "zoom"
    >
    
      <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable] = "m.draggable"
      >

      <agm-info-window>
        <strong>{{m.name}}</strong><br><br>
        <strong>{{m.address}}</strong>
      </agm-info-window>
      </agm-marker>
    </agm-map>